# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/flaskProject.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/py-fns.iml
/.idea/
/node_modules/
/package.json
/package-lock.json
/.venv/
/venv/
/uploads/
