<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>发票解析工具</title>
    <meta name="keywords" content="电子发票，发票解析，发票识别，发票转表格，发票转excel">
    <meta name="description" content="在线发票解析识别工具">
</head>
<body>

<div align="center">
    <h3>电子发票解析</h3>

    <form action="upload" method="post" enctype="multipart/form-data">
        <input name="files" type="file" multiple  accept=".pdf"/>
        <button>解析</button>
    </form>

    <footer style="margin-top: 100px">
        python_version: {{ python_version }}
    </footer>

</div>






</body>
</html>
